.team {
  &__title {
    margin-bottom: 50px;
  }

    &__card-set {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
  }
  &__worker-card {
    margin: 15px;
  }
  
 
  @media screen and (min-width: 768px) {
    &__worker-card {
      width: calc((100% - 30px * 2) / 2);
    }
  }
  
  @media screen and (min-width: 1200px) {
    &__worker-card {
      width: calc((100% - 30px * 4) / 4);
    }
  }


  &__worker-card {
    box-shadow: var(--box-shadow);
    border-radius: 0px 0px 4px 4px;
  }

  
  &__worker-name {
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 500;
  }
  
  &__card-content {
    justify-content: center;
    background-color: var(--primary-white-color);
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  &__worker-name,
  &__worker-post {
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
  }
  
  &__worker-post {
    margin-bottom: 16px;
  }
  
}

