.modal-form {
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: var(--title-text-color);
  }
  @media screen and (min-width: 1200px) {
    &__title {
      line-height: 1.15;
    }
  }

  &__field {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
  }

  &__input-wrapper {
    display: block;
    position: relative;
    margin-top: 4px;
  }

 &__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: block;
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__input:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  &__input:focus + &__icon {
    fill: var(--accent-color);
  }

  &__message {
    width: 100%;
    height: 120px;
    margin-top: 4px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__message::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &__message:focus {
    outline: none;
    border-color: var(--accent-color);
  }

  &__checkbox-desc {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  &__checkbox-link {
    color: var(--accent-color);
  }

  &__checkbox-desc::before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    cursor: pointer;
    margin-right: 7px;
    background-image: url(../images/icons/modal-non-check.svg);
    width: 16px;
    height: 15px;
    background-repeat: no-repeat;
  }

  &__check:checked + &__checkbox-desc::before {
    background-image: url(../images/icons/modal-check.svg);
  }

  &__btn {
    align-self: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    padding: 10px 56px;
    color: var(--primary-white-color);
    border: 0;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: #188ce8;
    }
  }

}



