.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &__no-padding {
    padding-top: 0;
    @media screen and (max-width: 1200px) {
      display: none;
      }
  }
  
  &__bgcolor {
    background-color: var(--secondary-accent-color);
  }
  
  &__title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
}



